*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(all-images/background-image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    width: 200px;
    height: auto;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #003060;
    text-decoration: none;
    font-size: 17.5px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #003060;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.entire-matteoup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.matteo-up-c{
    justify-content: center;
    position: relative;
    display: inline-block;
    height: 550px;
    width: auto;
}
.c-image{
    display: block;
    height: 100%;
    width: auto;
    border: 2.5px solid #003060;
}
.c-overlay{
    position: absolute;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.c-overlay:hover{
    opacity: 1;
}
.c-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #003060;
}
.matteo-up-hall{
    justify-content: center;
    position: relative;
    display: inline-block;
    height: 550px;
    width: auto;
}
.hall-image{
    display: block;
    height: 100%;
    width: auto;
    border: 2.5px solid #003060;
}
.hall-overlay{
    position: absolute;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.hall-overlay:hover{
    opacity: 1;
}
.hall-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #003060;
    text-align: center;
}
.matteo-up-d{
    justify-content: center;
    position: relative;
    display: inline-block;
    height: 550px;
    width: auto;
}
.d-image{
    display: block;
    height: 100%;
    width: auto;
    border: 2.5px solid #003060;
}
.d-overlay{
    position: absolute;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.d-overlay:hover{
    opacity: 1;
}
.d-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #003060;
}
.blue-box{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #003060;
    overflow: hidden;
}
.blue-box p{
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: lighter;
    white-space: nowrap;
}